<!-- <div class="jumbotron">
    <h1 class="display-4">About,Component world!</h1>
    <table class="table w-75 m-auto text-center">
      <thead>
          <th>name</th>
          <th>age</th>
          <th>gender</th>
          <th>dateOfBirth</th>
  
      </thead>
      <tbody>
          <tr *ngFor="let user of aboutContainer">
              <td>{{user.name|gender:user.gender}}</td>
              <td>{{user.age}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.dateOfBirth|date:'short'}}</td>
  
          </tr>
      </tbody>
  </table>    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div> -->

  <div class="container my-auto text-center ">
    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint reprehenderit voluptatum odit quas voluptates accusantium itaque, est quod obcaecati at cupiditate, iure eveniet nostrum nobis, veritatis aut incidunt vitae nisi!</p>
    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nostrum aliquam voluptates magnam sapiente minima similique velit et optio harum corporis incidunt quam minus necessitatibus debitis, quisquam labore quasi distinctio! Necessitatibus, officiis nemo eligendi ex deleniti ut, odio similique perferendis odit accusantium quam perspiciatis eum veniam! Quo ducimus autem adipisci.</p>
 </div>