<!-- <div class="jumbotron">
    <h1 class="display-4">Movies,Component world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div> -->

  <div class="p-4 w-75 m-auto">
    <input type="text" [(ngModel)]='term' class="form-control bg-transparent" name="" id="">
</div>

<div class="row">

<div class="col-md-4 py-3">

    <div class="brdr w-25 mb-3"></div>

        <h3 class="pt-2">Trending <br/> Movies <br/> To Watch Righ Now</h3>
        <p class="secondFontColor py-2">most watched movies by days</p>

        <div class="brdr w-100 mt-3"></div>

</div>

<div *ngFor="let movie of trendingMovies|search:term" class="col-md-2 py-3">
    <div [routerLink]="['/moviedetails' , movie?.id]" class="movie">

        <img class="w-100" [src]="imgPrefix+movie?.poster_path" alt="">
        <h4 class="my-2 h5">{{movie?.title}}</h4>

        <div class="vote position-absolute">{{movie?.vote_average}}</div>
    </div>

</div>
</div>
